@import url('https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400');

body {
    background-color: black;
    color: white;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    
}


h2 {
    font-size: 3em;
}



/* -----------------  image css --------------- */













/* -----------------   --------------- */


/* -----------------   --------------- */


/* -----------------   --------------- */